MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=

MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=

DB_NAME=sustainable_meal_planner

READWRITE_USERNAME=readwrite
READWRITE_PASSWORD=

READONLY_USERNAME=readonly
READONLY_PASSWORD=
